<div class="homepage-container">
    <h2 class="homepage-header">Welcome to the Satellite API</h2>
    <p class="homepage-info">This API holds a ton of information on all Satellites in orbit, as of April 2019.<br><br>
        Use the search bar above to query the database.<br>
        The types of models you can query by are listed in the drop down.<br><br>
        The <strong>'Search Value'</strong> is the type of information you're going to query the model by:<br>
        The Satellite model can be queried by <em>'name', 'id' and 'country'</em><br>
        The Country model can be queried by <em>'name' and 'id'</em><br>
        The Contractor model can be queried by <em>'name', 'id' and 'country'</em><br>
        If you leave all fields blank, the API will pull up all collections in that model.<br>
        <br><br>
        Have fun!
    </p>
</div>